
@font-face {font-family: "iconfont-calendar";
  src: url('iconfont.eot?t=1608788028022'); /* IE9 */
  src: url('iconfont.eot?t=1608788028022#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABkQAAAJBAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEXAE2AiQDCAsGAAQgBYRtBzsbjQURBTTJfhS4ez4CoYitwGAgf9vERXAYF/z/EQ//7fe/fWbmvj/fNKkmQUVSIUEplEwqLKJn8rV0M75jMZaSOIRGyD5G9rDFsuOn0mxtynBvVIRiSc6D77LMBHa4fOg4X6drRHWFrK3rH/dO/28ABTIfUI5zLuoC6uJACmysSZGVUMYNYxe4hOMEekzbFCdPX7ypKqxxgfj47s0zNWdXFBaqQqdmaRFfNGr6lH58Dr8f/2xFJWkyK+MqnXrp6O+GHZHRwkMf4SCg1Q0yNlGIm7X+y04WjJD1+It59pUa/Dy2ra8Ue5UJ9tdZyX1gEtLvieEybzWU4LY6GsbEqCuJ4Ttz/MZ82KbUL3hiRvv1NX1zIgS6NyANvkSO4p/lr8kLBO3u91Kh2v+VFfDdnDsQFhXpFeoeDMGfYPSsKzrLUqSiMmqbk+EzlPToQQubR/wYKx4/bThU4yOMXaZSyKpFtOA3odFrBzqqI9Bjw5nVvcpRwhelG+ueAMKQFyQDvkE25IMW/BcaE/7QMRQ+9LgdbsteyzGYTrBSbKF+wNDwSo5KTZR6wG6fK8myQuIFxQ4uiIOoGMpxRZljhr12iSoBCS+QgdNwnhk24REbDXrVLQ1DqntT0PDiGCcIVFGoBWoPYNBgK/JbK1P6/AHq7GYVaamp0V4gYQ3dg1gg6oHm/LVXzb28Yl11EkoRQARbgAwMQrMZA1v9oBFqqEA/wrtJhXYj6ssP1hcuX7cNeliSFHavbPj9UK3K+z3Qdrb3ZI4DAA==') format('woff2'),
  url('iconfont.woff?t=1608788028022') format('woff'),
  url('iconfont.ttf?t=1608788028022') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1608788028022#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-calendar {
  font-family: "iconfont-calendar" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-jiantouxiangshang:before {
  content: "\e653";
}

